
# Unity cache folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]ashi Hotpot/Logs/
[Ll]ogs/
[Mm]emoryCaptures/

# IDE
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
